.list-item {
  display: flex;

  width: 30vw;
  height: 35vh;
  margin-top: 12px;

  margin-bottom: 12px;
  color: #ffffff;
  font-size: 9px;
  min-width: 17vw;
  border-radius: 12px;
  border: solid 7px goldenrod;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  color: gold;
}
p {
  font-size: 13px;
}
.button {
  background-color: blue;

  border: solid 7px blue;
  color: #ffffff;
}

.img {
  height: 20vh;
  width: 25vw;
}
