.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  color: #ffffff;
  box-sizing: border-box;

  padding-left: 23px;
  padding-right: 23px;

  color: gold;
}

.search-input {
  background-color: #000000;
  color: gold;
  border: solid 3px gold;
}
* {
  margin-top: 0px;
}

.input-feature {
  color: gold;
}
.button-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  color: gold;
}
* {
}

.header-button {
  background-color: #000000;
  color: gold;
  padding: 13px;
  margin: 13px;
  border-radius: 15px;
  border: solid 2px gold;
}

@media (max-width: 767px) {
  .input-feature {
    display: none;
  }

  .nav-bar {
    font-size: 7px;
    max-width: 100vw;
  }
}
